body {
    color: green;
  height: 100vh;
  padding: 0;
  margin: 0;
  display: grid;
  background: url("../img/burger.png");
  background-repeat: no-repeat;
  background-size: cover;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr 20px;
  grid-template-areas: "burgerHeader" "middle" "footer";
  grid-row-gap: 10px; }
  body .center {
    color: green;
    justify-self: center;
    align-self: center; }
  body #burgerHeader {
    grid-area: burgerHeader;
    background: green;
    text-align: center;
    color: white;
    position: relative;
    min-height: 100%; }
    body #burgerHeader h2 {
    color: green;
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
  body #middle {
    color: green;
    grid-area: middle;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "midLeft midCenter midRight";
    color: white; }
    body #middle .midLeft {
    color: green;
      display: grid;
      grid-area: midLeft;
      border: 1px solid black; }
    body #middle .midCenter {
    color: green;
      display: grid;
      grid-area: midCenter;
      border: 1px solid yellow; }
    body #middle .midRight {
    color: green;
      display: grid;
      grid-area: midRight;
      border: 1px solid black; }
  body #footer {
    grid-area: footer; }