{{!-- <li>
    {{burger_name}}
        <button class="burgerBlock" data-id="{{id}}" data-eaten="{{devoured}}">
            {{#if devoured}} Eat! {{else}} Place Another Order{{/if}}
        </button>
</li> --}}